* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


.pricing{
  margin: 8vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 2px solid #e1e1e1;
  border-radius: 3%;                                
  height: 80%;
}
